body{
    margin: 0;
    padding: 0;
    background: #dfdfdf;
}

.header{
    width:100%;
    height: 6.5em;
    background: white;
    display:flex;
    flex: 1;
    margin-bottom:0;
}

.header-content{
    width:100%;
    display:flex;
    align-items: center;
    gap: 24px;
    flex:1;
    margin-left: 15%;
}

.header-content a{
    font-size: 36px;
    text-decoration: none;
    color: Black;
    padding-left: 16px;
    padding-right: 16px;
}

.header .social-media{
    display:flex;
    align-items: center;
    margin-left: auto;
    gap: 24px;
    flex: 1;
    flex-direction:row-reverse;
    margin-right: 15%;
}

.header .social-media img{
    height: 32px;
    width: 32px;
}

#logo{
    height:86px;
    width: 86px;
    padding-left: 64px;
    padding-right: 64px;
}

.hero-content{
    margin:0;
    padding:0;
}

.hero{
    width: 100%;
    overflow: hidden;
    margin-bottom:0;
}

.hero-item{
    float:left;
    margin-right:-100%;
    position:relative;
    display:block;
    width:100%;
}

.fade-item{
    position:relative;
    
}

.hero-item img{
    height: 840px;
    width:100%;
}

.hero-content .title{
    position:relative;
    z-index: 9;
    padding-top: 600px;
    padding-left: 60px;
    font-size: 112px;
}

.hero-content a{
    text-decoration: none;
    color:white;
    position:relative;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}


.playlist{
    background: #dfdfdf;
    margin-top: 0;
}

.playlist h2{
    margin-top: 12px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 64px;
}

.playlist-content{
    padding-top: 64px;
    display:flex;
    flex-basis: auto;
    justify-content: space-around;
}

.artists{
    background: white;
    margin-top:0;
    height: 640px;
}

.artists-content{
    display: flex;
    padding-top: 64px;
    justify-content: center;
}

.artists h2{
    padding-top: 12px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 64px;
}

.artist-item {
    display:flex;
    flex-basis: auto;
    flex-direction: column;
    width: 240px;
    height: 240px;
}

.artist-item img{
    width: 240px;
    height: 240px;
}

.artist-item h3{
    text-align: center;
}